/* page.css */

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-image: url('/CIT-U_GLE_Building_01.original.png');
    background-size: cover;
    background-position: center;
  }
  
  .LoginBox {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .LoginHeader {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .inputs input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-color: #ec971f;
  }
  
  .submitbutton {
    width: 100%;
    padding: 10px;
    background-color: #f0ad4e; 
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submitbutton:hover {
    background-color: #ec971f; 
  }
  .label{

    color:black;
  }
  .b{
    font-size: small;
    color:black;
  }
  h5{
    text-align: center;
  }

  .RegisterRedirect {
    text-align: left;
    margin-top: 15px;
    color:black;
    font-size: small;
  }
  
  .RegisterRedirect a {
    color: #337ab7; /* Bootstrap primary color */
    text-decoration: none;
  }
  
  .RegisterRedirect a:hover {
    text-decoration: underline;
  }
  